body{
  font-family: "Microsoft YaHei","微软雅黑" !important;
  background: #eee;
  padding-top: 71px;
}

/* ============================= header ============================= */

.mk-navbar {
  background-color: #fff;
}

.mk-navbar .navbar-header > .navbar-brand {
  font-size: 24px;
  text-shadow: 2px 2px 4px #aaa;
  line-height: 65px;
  height: 70px;
}

.mk-navbar .navbar-header > .navbar-brand > img {
  width: 60px;
}

.mk-navbar-nav {
  margin-left: 40px;
  font-size: 16px;
}

.mk-navbar-nav > li > a {
  width: 100px;
  text-align: center;
  border-bottom: 3px solid transparent;
  line-height: 37px;
}

.mk-navbar .navbar-nav > .active > a,
.mk-navbar .navbar-nav > .active > a:hover,
.mk-navbar .navbar-nav > .active > a:focus {
  color: #555;
  background-color: transparent;
  border-bottom-color:  #359ADC;
}

.mk-navbar .navbar-nav >  li > a:hover,
.mk-navbar .navbar-nav >  li > a:active {
  border-bottom-color: #359ADC;
}

/* ============================= footer ============================= */

footer {
  background-color: #161616;
  color: #D4D4D4;
  border-top: 3px solid #359ADC;
}

footer > p {
  border-top: 2px solid #359ADC;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #FFFFFF;
  padding-top: 10px;
  color: #414141;
}

.mk-footer-content > .club-info,
.mk-footer-content > .club-weixin {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 15px;
  height: 205px;
}

.mk-footer-content > .club-info > p,
.mk-footer-content > .club-weixin > p {
  color: #359ADC;
  font-size: 18px;
  font-weight: bold;
}

.mk-footer-content > .club-info > ul {
  margin-top: 20px;
  padding-left: 5px;
  list-style: none;
}

.mk-footer-content > .club-info > ul > li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mk-footer-content > .club-info > ul > li > span {
  margin-right: 20px;
}

.mk-footer-content > .club-info > ul > li > div {
  margin-left: 33px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 20px;
}

.mk-footer-content > .club-weixin > .weixin-qrcode > img {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.mk-footer-content > .club-weixin > .weixin-qrcode > div {
  margin-bottom: 5px;
}

/* ============================= index ============================= */

/* Carousel base class */
.carousel {
  height: 400px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

.mk-carousel > .mk-carousel-message {
  position: absolute;
  display: inline-block;
  z-index: 15;
  left: 50%;
  top: 10px;
  margin-left: -245px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  background: none repeat scroll 0 0 rgba(90, 159, 212, 0.5);
  color: #43C2DA;
  box-shadow: 1px 1px 1px #2a6496;
}

.mk-carousel > .mk-carousel-message > .glyphicon-bullhorn {
  margin-left: 10px;
  height: 35px;
  line-height: 30px;
  font-size: 20px;
  color: #E66F11;
}

.mk-carousel > .mk-carousel-message > .message-list {
  margin-right: 65px;
  margin-left: 110px;
  height: 35px;
  overflow-y: hidden;
}

.mk-carousel > .mk-carousel-message > .message-list > ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;;
}

.message-list > ul > li > a {
  display: inline-block;
  max-width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}

.message-list > ul > li > a:hover,
.message-list > ul > li > a:active {
  color: #359ADC;
}

.mk-carousel > .mk-carousel-entry {
  position: absolute;
  z-index: 15;
  left: 50%;
  top: 30%;
  margin-left: -245px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 1px 2px #333;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.mk-pills-wrapper {
  margin-bottom: 60px;
  border-top: 1px solid #dee4eb;
  border-bottom: 1px solid #dee4eb;
  background-color: #fff;
  background-image: -webkit-linear-gradient(bottom, #EBEEF3, #FDFEFF);
  background-image: linear-gradient(to top, #EBEEF3, #FDFEFF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FDFEFF,endColorstr=#EBEEF3,GradientType=0);
}

.mk-pills > li > a {
  border-radius: 0px;
  line-height: 50px;
  font-size: 20px;
  color: #485A72;
  background-color: transparent;
}

.mk-pills > li > a:hover,
.mk-pills > li > a:focus {
  background-color: #EBEEF4;
}

.mk-pills > li.active > a,
.mk-pills > li.active > a:hover,
.mk-pills > li.active > a:focus {
  color: #485A72;
  background-color: #EBEEF4;
}

.tab-pane > .mk-tab-pane-article {
  margin-top: 20px;
}

.tab-pane > .mk-tab-pane-article > p {
  word-wrap: break-word;
  word-break: break-all;
}

.mk-tab-pane img {
  width: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.mk-tab-pane .coach-pane-content {
  margin-left: 110px;
  height: 100%;
}

.mk-tab-pane .coach-pane-content > .box-ellipsis {
  height: 100px;
}

.mk-media-pane {
  background-color: #818F9B;
  padding-top: 40px;
  padding-bottom: 80px;
}

.mk-media-pane .mk-lightbox-entry {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.mk-media-pane .mk-lightbox-entry .lightbox-entry-title {
  font-size: 30px;
  color: #333;
  text-shadow: 1px 2px 2px #aaa;
  text-decoration: none;
}

.mk-media-pane .mk-lightbox-entry .lightbox-entry-border {
  height: 3px;
  background-image: -webkit-linear-gradient(right, #333, #777);
  background-image: linear-gradient(to left, #333, #777);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#777  ,endColorstr=#333,GradientType=1);
}

.mk-media-pane .mk-lightbox-image > a {
  display: inline-block;
  float: left;
  width: 50%;
}

.mk-media-pane .mk-lightbox-image > a > img {
  width: 100%;
}

/* ============================= court ============================= */

.mk-court-filter-panel {
  padding: 20px 30px;
  text-shadow: 0 1px 0 #fff;
  background-color: #6CA5CE;
  border-radius: 5px;
  color: #fff;
}

.mk-court-filter-panel > .district-label {
  margin-left: 35px;
}

.mk-court-filter-panel > .district-label .btn {
  border-color: transparent;
  background-color: #f7f5fa;
  color: gray;
  margin-right: 10px;
  margin-bottom: 10px;
}

.mk-court-filter-panel > .district-label > a:hover,
.mk-court-filter-panel > .district-label > a.btn-active {
  background-color: #428bca;
  color: #eee;
  font-weight: normal;
}

/* ============================= training ============================= */

.mk-training-title {
  color: #333;
  text-shadow: 1px 2px 2px #aaa;
}

.mk-training-sub-title {
  color: #555;
  text-shadow: 0px 2px 2px #aaa;
}

.mk-table thead > tr > .course-title {
  min-width: 100px;
}

.mk-table tbody > tr > th {
  vertical-align: middle;
  text-align: center;
}

.mk-table tbody > tr > td {
  text-align: left;
}

.mk-table thead > tr > .course-time {
  min-width: 100px;
}

.mk-table tbody > tr > td > ul > li {
  min-width: 200px;
}

/* ============================= rating ============================= */

.rating-intro {
  margin-top: 40px;
  margin-bottom: 20px;
}

.rating-intro .section-title {
  margin-bottom: 20px;
}

.rating-intro .section-title, .rating-intro .section-title:before {
  width: 800px;
}

.rating-header {
  padding-bottom: 9px;
  margin: 40px 0 10px;
  border-bottom: 1px solid #eee;
}

.rating-sidebar {
  position: relative;  
}

.affix {
  position: fixed;
  top: 100px;
}

.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 400px;
}

.rating-sidebar {
  padding-top: 40px;
  padding-left: 20px;
}

.nav > li {
  position: relative;
  display: block;
}

.rating-sidebar .nav > li > a {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #999;
  padding: 4px 20px;
}

.rating-sidebar .nav > .active > a, .rating-sidebar .nav > .active:hover >a {
  padding-left: 18px;
  font-weight: 700;
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

/* ============================= feature ============================= */

.mk-banner-wrapper > img {
  min-width: 100%;
  height: 200px;
}

.mk-club-intro {
  background-color: #fff;
}

.mk-club-intro .mk-tab-pane-article,
.mk-club-feature .mk-tab-pane-article {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mk-club-intro .mk-tab-pane-article > h3 {
  text-shadow: 1px 1px 2px #aaa;
}

.mk-club-intro .mk-tab-pane-article > p,
.mk-club-feature .mk-tab-pane-article > img {
  margin-top: 40px;
}

.mk-club-feature {
  background-color: #ddd;
}

/* ============================= news ============================= */

.news-list {
  border-right: 1px solid #359ADC;
}

.news-overview {
  padding-top: 10px;
  margin-bottom: 30px;
}

.news-overview > a {
  font-weight: 100;
  font-size: 24px;
  text-decoration: none;
  line-height: 1;
}

.news-overview > div {
  margin-top: 10px;
  height: 130px;
}

.news-overview img {
  margin-right: 20px;
  width: 225px;
  height: 130px;
}

.news-content {
  margin: 10px;
  font-size: 15px;
}

.category-wrapper {
  padding-top: 10px;
  padding-left: 20px;
}

.category-wrapper > p {
  font-weight: 100;
  font-size: 24px;
  line-height: 1;
  color: #8080FF;
}

.category-wrapper > ul {
  padding-left: 20px;
}

.category-wrapper > ul > li {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #359ADC;
  font-size: 18px;
}

.category-wrapper a {
  text-decoration: none;
}

.category-wrapper a:hover {
  color: #FFFFFF;
}

.category-wrapper li:hover {
  color: #FFFFFF;
  background-color: #359ADC;
}

/* ============================= photo ============================= */

.gallery > div {
  text-align: center;
  margin-bottom: 20px;
}

.gallery > div > img {
  width: 263px;
  height: 178px;
  margin-bottom: 10px;
}

.gallery > div > embed {
  margin-top: 20px;
  margin-bottom: 20px;
}

.maikai-nav {
  border-bottom: none;
  border-top: 1px solid #ddd;
  margin-top: 40px;
}

.maikai-nav > li {
  margin-top: -1px;
}

.maikai-nav > li.active > a {
  border: 1px solid #ddd;
  border-top-color: transparent;
}

.maikai-nav > li.active > a:hover {
  border-bottom: 1px solid #ddd;
  border-top: none;
}

.maikai-nav > li > a {
  border-radius: 0 0 4px 4px;
}

