body{
  font-family: "Microsoft YaHei","微软雅黑" !important;
  background: #eee;
  padding-top: 71px;
}

/* ============================= header ============================= */

.mk-navbar {
  background-color: #fff;
}

.mk-navbar .navbar-header > .navbar-brand {
  font-size: 24px;
  text-shadow: 2px 2px 4px #aaa;
  line-height: 65px;
  height: 70px;
}

.mk-navbar .navbar-header > .navbar-brand > img {
  width: 60px;
}

.mk-navbar-nav {
  margin-left: 40px;
  font-size: 16px;
}

.mk-navbar-nav > li > a {
  width: 100px;
  text-align: center;
  border-bottom: 3px solid transparent;
  line-height: 37px;
}

.mk-navbar .navbar-nav > .active > a,
.mk-navbar .navbar-nav > .active > a:hover,
.mk-navbar .navbar-nav > .active > a:focus {
  color: #555;
  background-color: transparent;
  border-bottom-color:  #359ADC;
}

.mk-navbar .navbar-nav >  li > a:hover,
.mk-navbar .navbar-nav >  li > a:active {
  border-bottom-color: #359ADC;
}

/* ============================= footer ============================= */

footer {
  background-color: #161616;
  color: #D4D4D4;
  border-top: 3px solid #359ADC;
  margin-top: 60px;
}

footer > p {
  border-top: 2px solid #359ADC;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #FFFFFF;
  padding-top: 10px;
  color: #414141;
}

footer .row > div {
  height: 205px;
}

.club-info, .club-weixin, .club-complain{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 15px;
}

.club-info, .club-complain {
  border-right: 1px solid #C5C7C9;
}

.club-info p, .club-weixin p, .club-complain p{
  color: #359ADC;
  font-size: 18px;
  font-weight: bold;
}

.club-info ul, .club-complain ul {
  margin-top: 20px;
  padding-left: 5px;
  list-style: none;
}

.club-info ul li, .club-complain ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.club-info span, .club-complain span {
  margin-right: 20px;
}

.club-info ul li div, .club-complain ul li div {
  margin-left: 33px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 20px;
}

.qrcode img {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.qrcode div {
  margin-bottom: 5px;
}

/* ============================= index ============================= */

/* Carousel base class */
.carousel {
  height: 400px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

.mk-carousel > .mk-carousel-message {
  position: absolute;
  display: inline-block;
  z-index: 15;
  left: 50%;
  top: 10px;
  margin-left: -245px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  background: none repeat scroll 0 0 rgba(90, 159, 212, 0.5);
  color: #43C2DA;
  box-shadow: 1px 1px 1px #2a6496;
}

.mk-carousel > .mk-carousel-message > .glyphicon-bullhorn {
  margin-left: 10px;
  height: 35px;
  line-height: 30px;
  font-size: 20px;
  color: #E66F11;
}

.mk-carousel > .mk-carousel-message > .message-list {
  margin-right: 65px;
  margin-left: 110px;
  height: 35px;
  overflow-y: hidden;
}

.mk-carousel > .mk-carousel-message > .message-list > ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;;
}

.message-list > ul > li > a {
  display: inline-block;
  max-width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}

.message-list > ul > li > a:hover,
.message-list > ul > li > a:active {
  color: #359ADC;
}

.mk-carousel > .mk-carousel-entry {
  position: absolute;
  z-index: 15;
  left: 50%;
  top: 30%;
  margin-left: -245px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 1px 2px #333;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.mk-pills-wrapper {
  margin-bottom: 50px;
  border-top: 1px solid #dee4eb;
  border-bottom: 1px solid #dee4eb;
  background-color: #fff;
  background-image: -webkit-linear-gradient(bottom, #EBEEF3, #FDFEFF);
  background-image: linear-gradient(to top, #EBEEF3, #FDFEFF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FDFEFF,endColorstr=#EBEEF3,GradientType=0);
}

.mk-pills > li > a {
  border-radius: 0px;
  line-height: 50px;
  font-size: 20px;
  color: #485A72;
  background-color: transparent;
}

.mk-pills > li > a:hover,
.mk-pills > li > a:focus {
  background-color: #EBEEF4;
}

.mk-pills > li.active > a,
.mk-pills > li.active > a:hover,
.mk-pills > li.active > a:focus {
  color: #485A72;
  background-color: #EBEEF4;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.glyphicon-size {
	font-size: 80px;
  color: #359ADC;
}

.content-thumbnail {
	height: 80px;
	padding: 0;
	margin: 0;
}

.album {
  margin: 30px;
  position: relative;
}

.exhibition > .section-title {
  width: 400px;
}

.exhibition .section-title:before {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.pin {
  position: absolute;
  width: 20px;
  height: 18px;
  background: url("../img/pin.png");
  display: block;
  top: -12px;
  left: 50%;
}

.video {
  position: absolute;
  font-size: 100px;
  display: block;
  top: 40%;
  left: 43%;
  opacity: 0.7;
  color: #ccc;
}

.album img {
  background: #fff;
  border: 1px solid #ccc;
  padding: 4px;
  width: 100%;
  height: 495px;
}

/* ============================= court ============================= */

.main-container {
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-container .col-lg-4 {
  padding: 20px 30px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

.district-label {
  margin-left: 35px;
}

.district-label .btn {
  border-color: #f7f5fa;
  background-color: #f7f5fa;
  color: gray;
  margin-right: 10px;
}

.district-label a:hover, .district-label .btn-active {
  border-color: #f7f5fa;
  background-color: #428bca;
  color: white;
  font-weight: 100;
}

/* ============================= training ============================= */

.table-training {
  
}

.training-item {
  border: none;
}

.training-item .col-lg-2, .training-item .col-lg-6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.training-item img {
  width: 140px;
  height: 140px;
  margin: 5px;
}

.training-intro {
  margin: 5px;
}

/* ============================= coach ============================= */

.section-title:before {
  content: "";
  display: block;
  border-top: solid 1px #333;
  height: 1px;
  position: absolute;
  margin-top: 14px;
  z-index: 1;
  width: 600px
}

.section-title {
  text-align: center;
  font-size: 22px;
  width: 600px;
  margin: 40px auto 20px;
}

.section-title span {
  background: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 5
}

.section-content {
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.section-content p {
  margin: 5px;
  line-height: 2;
}

.coach-box .col-lg-3, .coach-box .col-lg-5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.coach-box img {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.coach-comment {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.coach-comment .list-group-item {
  border: none;
  height: 
}

.comment img {
  width: 80px;
  height: 80px;
}

/* ============================= rating ============================= */

.rating-intro {
  margin-top: 40px;
  margin-bottom: 20px;
}

.rating-intro .section-title {
  margin-bottom: 20px;
}

.rating-intro .section-title, .rating-intro .section-title:before {
  width: 800px;
}

.rating-header {
  padding-bottom: 9px;
  margin: 40px 0 10px;
  border-bottom: 1px solid #eee;
}

.rating-sidebar {
  position: relative;  
}

.affix {
  position: fixed;
  top: 100px;
}

.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 400px;
}

.rating-sidebar {
  padding-top: 40px;
  padding-left: 20px;
}

.nav > li {
  position: relative;
  display: block;
}

.rating-sidebar .nav > li > a {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #999;
  padding: 4px 20px;
}

.rating-sidebar .nav > .active > a, .rating-sidebar .nav > .active:hover >a {
  padding-left: 18px;
  font-weight: 700;
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

/* ============================= feature ============================= */

.banner-wrapper {
  padding-top: -1px;
  margin-bottom: 40px;
}

.banner-wrapper img {
  min-width: 100%;
  height: 200px;
}

.feature-sum {
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px;
  width: 800px;
}

.feature-intro img {
  width: 140px;
  height: 140px;
}

/* ============================= news ============================= */

.news-list {
  border-right: 1px solid #359ADC;
}

.news-overview {
  padding-top: 10px;
  margin-bottom: 30px;
}

.news-overview > a {
  font-weight: 100;
  font-size: 24px;
  text-decoration: none;
  line-height: 1;
}

.news-overview > div {
  margin-top: 10px;
  height: 130px;
}

.news-overview img {
  margin-right: 20px;
  width: 225px;
  height: 130px;
}

.news-content {
  margin: 10px;
  font-size: 15px;
}

.category-wrapper {
  padding-top: 10px;
  padding-left: 20px;
}

.category-wrapper > p {
  font-weight: 100;
  font-size: 24px;
  line-height: 1;
  color: #8080FF;
}

.category-wrapper > ul {
  padding-left: 20px;
}

.category-wrapper > ul > li {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #359ADC;
  font-size: 18px;
}

.category-wrapper a {
  text-decoration: none;
}

.category-wrapper a:hover {
  color: #FFFFFF;
}

.category-wrapper li:hover {
  color: #FFFFFF;
  background-color: #359ADC;
}

/* ============================= photo ============================= */

.gallery > div {
  text-align: center;
  margin-bottom: 20px;
}

.gallery > div > img {
  width: 263px;
  height: 178px;
  margin-bottom: 10px;
}

.gallery > div > embed {
  margin-top: 20px;
  margin-bottom: 20px;
}

.maikai-nav {
  border-bottom: none;
  border-top: 1px solid #ddd;
  margin-top: 40px;
}

.maikai-nav > li {
  margin-top: -1px;
}

.maikai-nav > li.active > a {
  border: 1px solid #ddd;
  border-top-color: transparent;
}

.maikai-nav > li.active > a:hover {
  border-bottom: 1px solid #ddd;
  border-top: none;
}

.maikai-nav > li > a {
  border-radius: 0 0 4px 4px;
}

