/* ================ font ================ */

@font-face {
  font-family: Copperplate;

  src: url('../fonts/copperplate_gothic_bold.eot');
  src: url('../fonts/copperplate_gothic_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/copperplate_gothic_bold.woff') format('woff'), url('../fonts/copperplate_gothic_bold.ttf') format('truetype'), url('../fonts/copperplate_gothic_bold.svg#copperplate_gothic_bold') format('svg');
}

/* ================ common css ================ */

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

.display-table {
  display: table;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.no-padding {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.top-margin-5 {
  margin-top: 5px;
}

.right-margin-5 {
  margin-right: 5px;
}

.bottom-margin-5 {
  margin-bottom: 5px;
}

.left-margin-5 {
  margin-left: 5px;
}

.top-margin-10 {
  margin-top: 10px;
}

.right-margin-10 {
  margin-right: 10px;
}

.bottom-margin-10 {
  margin-bottom: 10px;
}

.left-margin-10 {
  margin-left: 10px;
}

.top-margin-15 {
  margin-top: 15px;
}

.right-margin-15 {
  margin-right: 15px;
}

.bottom-margin-15 {
  margin-bottom: 15px;
}

.left-margin-15 {
  margin-left: 15px;
}

.top-margin-20 {
  margin-top: 20px;
}

.right-margin-20 {
  margin-right: 20px;
}

.left-margin-40 {
  margin-left: 40px;
}

.bottom-margin-20 {
  margin-bottom: 20px;
}

.left-margin-20 {
  margin-left: 20px;
}

.no-top-margin {
  margin-top: 0px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.no-vertical-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.no-border {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

.no-bottom-border {
  border-bottom: 0px;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-16 {
  font-size: 16px;
}

.font-highlight {
  font-size: 18px;
  text-shadow: 0px 2px 2px #aaa;
}

a.no-text-decoration {
  text-decoration: none;
}

.box-ellipsis {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow:-o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.line-ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mk-btn-large {
  width: 160px;
}

.mk-btn-normal {
  width: 100px;
}

.mk-btn-small {
  width: 80px;
}

.main-container {
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 60px;
}

/* ================ some color class ================ */
.default-color {
	color: #ccc;
}

.default-color:hover {
	color: #adadad;
}

.success-color {
	color: #5cb85c;
}

.success-color:hover {
	color: #47a447;
}

.primary-color {
	color: #428bca;
}

.primary-color:hover {
	color: #3276b1;
}

.info-color {
	color: #5bc0de;
}

.info-color:hover {
	color: #39b3d7;
}

.warning-color: {
	color: #f0ad4e;
}

.warning-color:hover {
	color: #ed9c28;
}

.danger-color {
	color: #d9534f;
}

.danger-color:hover {
	color: #d2322d;
}

.intro-color {
  color: #E27F33;
}

.feature-color {
  color: #57CD2F;
}

.coach-color {
  color: #7D79EB;
}

.level-color {
  color: #CCE425;
}

/* ================ nav pills justified ================ */

.nav-pills.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-pills.nav-justified > li {
  float: none;
}

.nav-pills.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}

.nav-pills.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-pills.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-pills.nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-pills.nav-justified > li > a {
  margin-right: 0;
}

@media (min-width: 768px) {
  .nav-pills.nav-justified > .active > a,
  .nav-pills.nav-justified > .active > a:hover,
  .nav-pills.nav-justified > .active > a:focus {
    border-bottom-color: #ddd;
  }
}

/* ================ enhanced btn class ================ */

.btn-shadow {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-shadow:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-shadow-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e6e6e6, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  background-repeat: repeat-x;
  border-color: #e0e0e0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
}

.btn-shadow-default:active,
.btn-shadow-default.active {
  background-image: none;
  background-color: #e6e6e6;
  border-color: #e0e0e0;
}

.btn-shadow-primary {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3071a9));
  background-image: -webkit-linear-gradient(top, #428bca, 0%, #3071a9, 100%);
  background-image: -moz-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  background-repeat: repeat-x;
  border-color: #2d6ca2;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}

.btn-shadow-primary:active,
.btn-shadow-primary.active {
  background-image: none;
  background-color: #3071a9;
  border-color: #2d6ca2;
}

.btn-shadow-success {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5cb85c), to(#449d44));
  background-image: -webkit-linear-gradient(top, #5cb85c, 0%, #449d44, 100%);
  background-image: -moz-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  border-color: #419641;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}

.btn-shadow-success:active,
.btn-shadow-success.active {
  background-image: none;
  background-color: #449d44;
  border-color: #419641;
}

.btn-shadow-info {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5bc0de), to(#31b0d5));
  background-image: -webkit-linear-gradient(top, #5bc0de, 0%, #31b0d5, 100%);
  background-image: -moz-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  border-color: #2aabd2;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}

.btn-shadow-info:active,
.btn-shadow-info.active {
  background-image: none;
  background-color: #31b0d5;
  border-color: #2aabd2;
}

.btn-shadow-warning {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f0ad4e), to(#ec971f));
  background-image: -webkit-linear-gradient(top, #f0ad4e, 0%, #ec971f, 100%);
  background-image: -moz-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  border-color: #eb9316;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}

.btn-shadow-warning:active,
.btn-shadow-warning.active {
  background-image: none;
  background-color: #ec971f;
  border-color: #eb9316;
}

.btn-shadow-danger {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9534f), to(#c9302c));
  background-image: -webkit-linear-gradient(top, #d9534f, 0%, #c9302c, 100%);
  background-image: -moz-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  border-color: #c12e2a;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}

.btn-shadow-danger:active,
.btn-shadow-danger.active {
  background-image: none;
  background-color: #c9302c;
  border-color: #c12e2a;
}

.demo2do-btn {
  width: 140px;
}

.demo2do-btn-sm {
  width: 80px;
}

/* ================ table css ================ */

.demo2do-table {
  margin-top: 15px;
}

.demo2do-table thead > tr > td,
.demo2do-table tbody > tr > td,
.demo2do-table tfoot > tr > td {
  border-top: 0px;
  border-bottom: 1px #CCC solid;
  text-align: center;
  vertical-align: middle;
}

.demo2do-table tbody > tr > td > p {
  margin: 5px auto;
}

.demo2do-table caption + thead tr:first-child th,
.demo2do-table colgroup + thead tr:first-child th,
.demo2do-table thead:first-child tr:first-child th {
  border-top: 1px #CCC solid;
}

.demo2do-table caption + thead tr:first-child th:first-child,
.demo2do-table colgroup + thead tr:first-child th:first-child,
.demo2do-table thead:first-child tr:first-child th:first-child {
  border-left: 1px #CCC solid;
}

.demo2do-table caption + thead tr:first-child th:last-child,
.demo2do-table colgroup + thead tr:first-child th:last-child,
.demo2do-table thead:first-child tr:first-child th:last-child {
  border-right: 1px #CCC solid;
}

.demo2do-table thead > tr > th {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e6e6e6, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  background-repeat: repeat-y;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  text-align: center;
  border-top: 1px #AAA solid;
  border-bottom: 1px #AAA solid;
  border-left: 0px;
  padding: 10px 0px;
  box-shadow: 0 1px 0 #FFFFFF inset;
}

.demo2do-striped > tbody > tr:nth-child(odd) > td {
  background-color: #F5F5F5;
}

.demo2do-hover > tbody > tr:hover > td,
.demo2do-hover > tbody > tr:hover > th {
  background-color: #f9f9f9;
}

